.image{
    transform: translateY(10px);
    max-height:400px;
    height:auto;
    width: 100%;
   padding-top: 10px;
   margin-top:20px;
   top:10px;
   object-fit:cover;
}
.line{
    width:100%;
    border: 1px solid rgb(79, 73, 73);
    padding-top:40px;
}
.theaters{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
     padding-bottom: 10px;
}
.ovie{
   position: relative;
   z-index: 1;
    height: 100%;
}
.side{
    padding:0 30px 60px 30px ;
}
.paren{
    height: 100vh;
    position: relative;
background: linear-gradient(70deg,rgba(2, 0, 36, 0.68) 0%, rgba(9, 9, 121, 0.7) 35%, rgba(5, 89, 184, 0.68) 65%, rgba(0, 212, 255, 0.68) 100%);
}