.centseat{
    
    justify-items: center;   
  align-items: center; 
  h2{
    font-weight: 900;
    padding:20px;
    font-size:35px;
    color: rgb(231, 236, 243);
  }
  h3{
     font-weight: 900;
  }
}

.screimg{
    display: flex;
    padding-top:5%;
    justify-content: center;  
    img{
        height:auto;
        width: 50%;
    }
    margin-bottom: 20px;
}
.theatcent{
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border:3px double rgb(137, 117, 117);
    background-color: #ffffffde;
}
.maintheat{
  padding:30px;
    height:100%;
     display: flex;
         flex-direction: column; 
    justify-items: center;   
  align-items: center; 
  background:linear-gradient(90deg, #4b6cb7 0%, #182848e7 100%);
}
.booking{
 background-image: linear-gradient(to right, #e52d27f0 0%, #b31217e4 51%, #e52d27e3 100%);
  color: aliceblue;
  font-weight: 900;
  font-size:15px;
  padding: 7px;
    margin: 10px;
  text-align: center;
  transition: 1s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 8px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  p{
    padding: 4px;
  }
  &:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
   p{
    padding: 4px;
  }
}
}
.riglef{
  background-color: #fcfcfdf7;
  display: flex;
  flex-direction: row;
  width: 80vw;
  padding:10px;
  border-radius:10px;

.frst{
 display: flex;
 align-items: center;
 justify-content: center;
  width: 50vw;
}
h4{
  height:30px;
  width: 30px;
  font-size:20px;
  text-align: center;
  border-radius:10px 5px;
  font-weight: 900;
  background-color: #444547;
    color: rgb(250, 249, 249);
}
h3{
    padding-right:50px;
    font-size:20px;
  font-weight: 900;
  color: rgb(57, 23, 23);
}
h5{
  padding-right: 10px;
   font-size:19px;
  font-weight: 700;
  color: #46484c;
}
}
