.classs{
    padding:10px;
    display:flex;
    flex-direction: column;
    gap: 7px;
    
   
}
.seat{
    text-align: center;
    align-content: center;
    background-color:#ffb703;
    box-shadow: 2px 5px 0 rgb(0, 0, 0);
    border-radius:12px 12px 3px 3px;
    height:6vh;
    width:3vw;
    font-size:10px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0 0 4px #ffb703;
    transition:background-color 0.3s ;
    transform: translateY(-3px);
   
    &:hover{
        background-color:#4b4170;
    }
}
.rrowf{
    display: flex;
    flex-direction:row;
    gap:7px;
}

.seatselect{
   
    text-align: center;
    align-content: center;
    border-radius:12px 12px 3px 3px;
    height:6vh;
    width:3vw;
    font-size:10px;
    font-weight: 600;
    background-color:#4b4170;
    color:white;
    transition: background-color 1s ;
       &:hover{
        transform: translateY(-3px);
        cursor: pointer;
    }
}
.sellec{
    
}