*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Georgia', 'Times New Roman', serif;
}
.header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.header p{
    padding: 10px;
    border-radius: 60px;
    border: 2px ;
}
.header p:hover{
    padding: 10px;
    border-radius: 15px;
    border: 2px ;
    background-color: aquamarine;
}
#logo{
    height: 80px;
    width: 120px;
    object-fit: cover;
}
.headersec{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    border-bottom: 1px solid gray;
    /* border: 2px solid black; */
}
#line{
    margin-top:15px;
    height: 40px;
    border-right: 2px solid rgba(11, 10, 10, 0.441);
    border-radius: 5px;
}
#search{
    margin-top:4px;
    border-radius:50px;
    height:50px;
    width:25%;
    padding-left:10px;
    font-size:18px;
    border:2px solid rgba(0, 0, 0, 0.452);
}
#bar,&:focus{
    border:0px black;
    outline: none;
    margin-left:10px;
    width:90%;
    height:100%;
    border-radius:50px;
    padding-left:10px;
    font-size:18px;
}
.fa-solid{
    padding-left: 2px ;
    color: rgba(8, 8, 8, 0.724);
}
#usprofile{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
#imagecs{
    margin-right: 10px;
    border-radius:50%;
    height: 40px;
    border: 0.3px solid;
    background: linear-gradient(6deg,rgba(18, 20, 20, 0.94) 0%, rgba(59, 56, 45, 0.89) 100%);
   }

.primepass img{
    height:auto;
    width: 85%;
}
.prmepass{
display: flex;
flex-direction: column;
}
.footer{
    font-family: Arial, sans-serif;
   background: linear-gradient(6deg,rgba(18, 20, 20, 0.94) 0%, rgba(59, 56, 45, 0.89) 100%);
}
.copyright{
 font-size:13px;
 color: rgba(253, 253, 253, 0.979);
 align-items: center;
 padding:10px;
}
.footbox{
   border-bottom:2px solid rgb(85, 82, 82);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footbox h1{
    font-size:13px;
}
